In [104]:
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np 
from IPython.display import display

# Imputación de nulos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
import warnings
warnings.filterwarnings("ignore")

In [105]:
df = pd.read_csv('project-da-promo-G-module-4-team-3/files /finanzas-hotel-bookings.csv', index_col= 0, low_memory=False)

In [106]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df.name = "Dataset Hotel"

In [108]:
def exploracion_general (lista):
    """Esta función proporciona toda la informacion necesaria de uno o varios DataFrame
    
    Args:
    lista : lista de los DataFrame que queremos explorar
    
    Returns:
    La funcion no tiene return pero devuelve varios prints con
    la informacion que necesitamos:
    - Descripciones separadas por columnas numericas y categoricas
    - Tipos de dato por columna
    - Numero total de filas y columnas
    - Informacion adicional
    - Total de nulos
    - Total de duplicados"""


    for df in lista:

        print("------Exploracion del dataframe: {} ------".format(df.name))
        try:
            print("-------Descripción columnas numéricas:---------")
            print(df.describe())
        except:
            print("Este DataFrame no contiene columnas numericas")

        try:
            print("-------Descripción columnas categoricas:---------")
            print(df.describe(include="O"))
        except: 
            print("Este DataFrame no contiene columnas categoricas")

        print("------Tipos de datos:---------")
        print(df.dtypes)
        print("------Numero de filas y columnas:------")
        print(df.shape)
        print("------Información adicional:---------")
        print(df.info())
        print("------Cantidad de nulos:---------")
        print(df.isnull().sum())
        print("------Cantidad de duplicados:---------")
        print(df.duplicated().sum())

In [109]:
exploracion_general([df])

------Exploracion del dataframe: Dataset Hotel ------
-------Descripción columnas numéricas:---------
           lead_time  arrival_date_year  arrival_date_week_number  \
count  119490.000000       64829.000000             101004.000000
mean      104.172628        2016.156196                 27.175785
std       106.975949           0.706674                 13.613871
min         0.000000        2015.000000                  1.000000
25%        18.000000        2016.000000                 16.000000
50%        69.000000        2016.000000                 28.000000
75%       161.000000        2017.000000                 38.000000
max       737.000000        2017.000000                 53.000000

       arrival_date_day_of_month  stays_in_weekend_nights  \
count              119271.000000            119490.000000
mean                   15.795977                 0.939461
std                     8.780503                 1.082472
min                     1.000000                 0.000000
25%                     8.000000                 0.000000
50%                    16.000000                 1.000000
75%                    23.000000                 2.000000
max                    31.000000                19.914715

       stays_in_week_nights         adults      children         babies  \
count         119490.000000  119428.000000  69302.000000  119431.000000
mean               2.515068       6.244423      0.125162       0.019903
std                1.976511      14.574814      0.688305       0.433366
min                0.000000       0.000000      0.000000       0.000000
25%                1.000000       2.000000      0.000000       0.000000
50%                2.000000       2.000000      0.000000       0.000000
75%                3.000000       2.000000      0.000000       0.000000
max               50.000000      59.000000     19.000000      19.000000

       is_repeated_guest  previous_cancellations  \
count      114376.000000            76228.000000
mean            0.031877                0.109317
std             0.175674                1.028093
min             0.000000                0.000000
25%             0.000000                0.000000
50%             0.000000                0.000000
75%             0.000000                0.000000
max             1.000000               26.000000

       previous_bookings_not_canceled  booking_changes          agent  \
count                   119390.000000    119418.000000  103050.000000
mean                         0.137097         0.232737      86.693382
std                          1.497437         0.770795     110.774548
min                          0.000000         0.000000       1.000000
25%                          0.000000         0.000000       9.000000
50%                          0.000000         0.000000      14.000000
75%                          0.000000         0.000000     229.000000
max                         72.000000        21.000000     535.000000

           company  days_in_waiting_list            adr  \
count  3870.000000         119390.000000  119390.000000
mean    188.828424              2.321149     101.831122
std     131.473039             17.594721      50.535790
min       6.000000              0.000000      -6.380000
25%      62.000000              0.000000      69.290000
50%     178.000000              0.000000      94.575000
75%     270.000000              0.000000     126.000000
max     543.000000            391.000000    5400.000000

       required_car_parking_spaces  total_of_special_requests
count                119390.000000              119390.000000
mean                      0.062518                   0.571363
std                       0.245291                   0.792798
min                       0.000000                   0.000000
25%                       0.000000                   0.000000
50%                       0.000000                   0.000000
75%                       0.000000                   1.000000
max                       8.000000                   5.000000
-------Descripción columnas categoricas:---------
             hotel is_canceled arrival_date_month    meal country  \
count       119390      119390             119390  119390   65054
unique           2           2                 15       5     163
top     City Hotel       False             August      BB     PRT
freq         79330       75166              13877   92310   26577

       market_segment distribution_channel reserved_room_type  \
count           59934               105899              79275
unique              8                    5                 10
top         Online TA                TA/TO                  A
freq            28331                86822              57202

       assigned_room_type customer_type reservation_status  \
count              119390         94199             119390
unique                 12             4                  3
top                     A     Transient          Check-Out
freq                74053         70610              75166

       reservation_status_date      0
count                   106514  42951
unique                     991   1588
top        2015-10-21 00:00:00    0.0
freq                      1298  12780
------Tipos de datos:---------
hotel                              object
is_canceled                        object
lead_time                         float64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
babies                            float64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                   float64
agent                             float64
company                           float64
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
0                                  object
dtype: object
------Numero de filas y columnas:------
(182877, 32)
------Información adicional:---------
<class 'pandas.core.frame.DataFrame'>
Index: 182877 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119490 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119490 non-null  float64
 8   stays_in_week_nights            119490 non-null  float64
 9   adults                          119428 non-null  float64
 10  children                        69302 non-null   float64
 11  babies                          119431 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76228 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119418 non-null  float64
 22  agent                           103050 non-null  float64
 23  company                         3870 non-null    float64
 24  days_in_waiting_list            119390 non-null  float64
 25  customer_type                   94199 non-null   object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  float64
 28  total_of_special_requests       119390 non-null  float64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         106514 non-null  object
 31  0                               42951 non-null   object
dtypes: float64(19), object(13)
memory usage: 46.0+ MB
None
------Cantidad de nulos:---------
hotel                              63487
is_canceled                        63487
lead_time                          63387
arrival_date_year                 118048
arrival_date_month                 63487
arrival_date_week_number           81873
arrival_date_day_of_month          63606
stays_in_weekend_nights            63387
stays_in_week_nights               63387
adults                             63449
children                          113575
babies                             63446
meal                               63487
country                           117823
market_segment                    122943
distribution_channel               76978
is_repeated_guest                  68501
previous_cancellations            106649
previous_bookings_not_canceled     63487
reserved_room_type                103602
assigned_room_type                 63487
booking_changes                    63459
agent                              79827
company                           179007
days_in_waiting_list               63487
customer_type                      88678
adr                                63487
required_car_parking_spaces        63487
total_of_special_requests          63487
reservation_status                 63487
reservation_status_date            76363
0                                 139926
dtype: int64
------Cantidad de duplicados:---------
63040

In [110]:
#quitamos duplicados
df_sin_dup = df.drop_duplicates()

In [111]:
#negativo a nan
df_sin_dup[df_sin_dup["adr"]== -6.38] = df_sin_dup[df_sin_dup["adr"]== np.nan]

In [112]:
#quitamos decimales
df_sin_dup["stays_in_weekend_nights"] = df_sin_dup["stays_in_weekend_nights"].round()
df_sin_dup["stays_in_week_nights"] = df_sin_dup["stays_in_week_nights"].round()

In [113]:
dicc =  {
    'January': '1',
    'February': '2',
    'March': '3',
    'April': '4',
    'May': '5',
    'June': '6',
    'July': '7',
    'August': '8',
    'September': '9',
    'October': '10',
    'November': '11',
    'December': '12'
}

In [114]:
df_sin_dup["arrival_date_month"] = df_sin_dup["arrival_date_month"].map(dicc)

In [115]:
df_sin_dup["arrival_date_month"].dtype

dtype('O')

In [116]:
df_sin_dup.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

In [117]:
df_sin_dup[df_sin_dup["0"].notnull()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
119390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,City Hotel
119391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
119392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226
119394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,June
119395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182838,NaN,NaN,210.765755,NaN,NaN,NaN,NaN,15.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transient
182839,NaN,NaN,343.704995,NaN,NaN,NaN,NaN,20.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0
182840,NaN,NaN,339.463972,NaN,NaN,NaN,NaN,13.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
182841,NaN,NaN,231.666473,NaN,NaN,NaN,NaN,15.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
182842,NaN,NaN,221.182665,NaN,NaN,NaN,NaN,15.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canceled

In [118]:
df_sin_dup.to_csv("sin_dup.csv")

In [119]:
def exploracion_columna (lista):

    """Esta función proporciona toda la informacion necesaria de cada columna del DataFrame
    
    Args:
    lista : lista de los DataFrame que queremos explorar
    
    Returns:
    La funcion no tiene return pero devuelve varios prints con
    la informacion que necesitamos:
    - Frecuencia de cada valor unico de la columna
    - Total de nulos
    - Total de duplicados"""

    for dataframe in lista:
        print("------Exploracion del dataframe: {} ------".format(dataframe.name))
        for columna in list(dataframe.columns):
            print(f" \n----------- ESTAMOS ANALIZANDO LA COLUMNA: '{columna.upper()}' -----------\n")
            print(f"Frecuencia de valores en la columna: \n {dataframe[columna].value_counts()}")
            print(f"Suma de datos nulos {dataframe[columna].isnull().sum()}")
            print(f"Suma de datos duplicados {dataframe[columna].duplicated().sum()}")