In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv ('../files /finanzas-hotel-bookings.csv', index_col= 0, low_memory=False)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.000000,2015.0,July,27.0,1.0,0.000000,0.000000,2.0,...,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.000000,NaN,July,27.0,1.0,0.000000,0.000000,2.0,...,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.000000,2015.0,July,27.0,1.0,0.000000,1.000000,1.0,...,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.000000,NaN,July,27.0,1.0,0.000000,1.000000,1.0,...,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.000000,NaN,July,NaN,1.0,0.000000,2.000000,2.0,...,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182872,NaN,NaN,224.337762,NaN,NaN,NaN,NaN,19.005545,19.819823,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182873,NaN,NaN,390.141963,NaN,NaN,NaN,NaN,14.751794,19.989726,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182874,NaN,NaN,230.689826,NaN,NaN,NaN,NaN,11.409496,20.461372,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182875,NaN,NaN,304.888534,NaN,NaN,NaN,NaN,16.744472,15.400773,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182876,NaN,NaN,341.238166,NaN,NaN,NaN,NaN,17.791486,24.442690,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', '0'],
      dtype='object')

In [14]:
df.shape

(182877, 32)

In [16]:
df.isna().sum()/df.shape[0]*100

hotel                             34.715683
is_canceled                       34.715683
lead_time                         34.661002
arrival_date_year                 64.550490
arrival_date_month                34.715683
arrival_date_week_number          44.769435
arrival_date_day_of_month         34.780754
stays_in_weekend_nights           34.661002
stays_in_week_nights              34.661002
adults                            34.694904
children                          62.104584
babies                            34.693264
meal                              34.715683
country                           64.427457
market_segment                    67.227153
distribution_channel              42.092773
is_repeated_guest                 37.457417
previous_cancellations            58.317339
previous_bookings_not_canceled    34.715683
reserved_room_type                56.651192
assigned_room_type                34.715683
booking_changes                   34.700372
agent                             43.650650
company                           97.883824
days_in_waiting_list              34.715683
customer_type                     48.490515
adr                               34.715683
required_car_parking_spaces       34.715683
total_of_special_requests         34.715683
reservation_status                34.715683
reservation_status_date           41.756481
0                                 76.513722
dtype: float64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182877 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119490 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119490 non-null  float64
 8   stays_in_week_nights            119490 non-null  float64
 9   adults                          119428 non-null  float64
 10  children                        69302 non-null   float64
 11  babies                          119431 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76228 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119418 non-null  float64
 22  agent                           103050 non-null  float64
 23  company                         3870 non-null    float64
 24  days_in_waiting_list            119390 non-null  float64
 25  customer_type                   94199 non-null   object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  float64
 28  total_of_special_requests       119390 non-null  float64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         106514 non-null  object
 31  0                               42951 non-null   object
dtypes: float64(19), object(13)
memory usage: 46.0+ MB

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
lead_time,119490.0,104.172628,106.975949,0.00,18.00,69.000,161.0,737.000000
arrival_date_year,64829.0,2016.156196,0.706674,2015.00,2016.00,2016.000,2017.0,2017.000000
arrival_date_week_number,101004.0,27.175785,13.613871,1.00,16.00,28.000,38.0,53.000000
arrival_date_day_of_month,119271.0,15.795977,8.780503,1.00,8.00,16.000,23.0,31.000000
stays_in_weekend_nights,119490.0,0.939461,1.082472,0.00,0.00,1.000,2.0,19.914715
stays_in_week_nights,119490.0,2.515068,1.976511,0.00,1.00,2.000,3.0,50.000000
adults,119428.0,6.244423,14.574814,0.00,2.00,2.000,2.0,59.000000
children,69302.0,0.125162,0.688305,0.00,0.00,0.000,0.0,19.000000
babies,119431.0,0.019903,0.433366,0.00,0.00,0.000,0.0,19.000000
is_repeated_guest,114376.0,0.031877,0.175674,0.00,0.00,0.000,0.0,1.000000
previous_cancellations,76228.0,0.109317,1.028093,0.00,0.00,0.000,0.0,26.000000
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.000000
booking_changes,119418.0,0.232737,0.770795,0.00,0.00,0.000,0.0,21.000000
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.000000
company,3870.0,188.828424,131.473039,6.00,62.00,178.000,270.0,543.000000
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.000000
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.000000
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.000000
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.000000

In [19]:
df.duplicated().sum()

63040